html,
body {
    margin: 0;
    background-color: #CDC7CB;
}

header {
    background: url(man1.gif);
    background-repeat: no-repeat;
    padding: 40px;
    text-align: center;
    height: 100%;
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90px;
    color: #CDC7CB;
}

header img {
    border-radius: 174px;
    width: 300px;
    border: 24px solid #7F7E7E;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

img.big-image {
    width: 750px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

p.cap3on {
    text-align: center;
    font-size: 16px;
    color: black;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: red;
    text-decoration: none;
}

footer {
    margin-top: 20px;
    padding: 40px 20px;
    background-color: #E6E6E6;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin: 0 5px;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}